html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round';
  /*font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;*/
}

.header {
  min-width: 100%;
  /*max-width: 100%;*/
  margin: auto;
  height: 100px;
  font-size: 28px;
  background: linear-gradient(to right,#233261,#419999);
  color: #f7f0f4;
  /*padding: 10px;*/
  /* padding-left: min(20%); */
  /*padding-left: clamp(50px, 20%, 40%); */
  /*vertical-align: middle;*/
  position: fixed;
  z-index: 9;
  
}

.space {
    min-width: 1220px;
    max-width: 1220px;
    margin: auto;
    margin-top: 30px;
    vertical-align: middle;
}

.font {
    width: 95%;
    margin: auto;
    vertical-align: middle;
}

.center {
  min-width: 1220px;
  max-width: 1220px;
  margin: auto;
  margin-bottom: 100px;
  width: 95%;
  border-left: 2px solid #171a6e;
  border-bottom: 2px solid #171a6e;
  border-right: 2px solid #171a6e;
  padding: 10px;
  padding-top: 100px;
  background: #f2f2f2;
}

/*
#chart_values {
    height: 300px !important;
    width: 600px !important;
}

#chart_values_random {
    height: 300px !important;
    width: 600px !important;
}
*/


#progress-container {
    width: 100%;
}

#progress-bar {
    width: 0%; 
    height: 30px; 
    background-color: #76c7c0;
    border-radius: 10px;
    /*transition: width 0.3s ease;*/
}

#progress-text {
    text-align: center;
}

#r3-progress-container {
    width: 100%;
}

#r3-progress-bar {
    width: 0%; 
    height: 30px; 
    background-color: #76c7c0;
    border-radius: 10px;
}

#r3-progress-text {
    text-align: center;
}

#r4-progress-container {
    width: 100%;
}

#r4-progress-bar {
    width: 0%; 
    height: 30px; 
    background-color: #76c7c0;
    border-radius: 10px;
}

#r4-progress-text {
    text-align: center;
}





.dia {
    height: 300px !important;
    width: 600px !important;
    display: none;
}

#r2-train-loss {
    display: none;
    margin-left: 45px;
}

#r2-test-loss {
    display: none;
    margin-left: 45px;
}

#r3-train-loss {
    display: none;
    margin-left: 45px;
}

#r3-test-loss {
    display: none;
    margin-left: 45px;
}

#r4-train-loss {
    display: none;
    margin-left: 45px;
}

#r4-test-loss {
    display: none;
    margin-left: 45px;
}


.r1,
.r2,
.r3,
.r4 {
    display: flex;
}