#chart_values {
    height: 300px !important;
    width: 600px !important;
}

#chart_values_random {
    height: 300px !important;
    width: 600px !important;
}

#r1-ohneRauschen {
    height: 300px !important;
    width: 600px !important;
}

#r1-mitRauschen {
    height: 300px !important;
    width: 600px !important;
}

.r1,
.r2,
.r3,
.r4 {
    display: flex;
}